
form {
  --input-size: 30px;
  --font-size: 25px;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-header {
  font-size: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.form-group label {
  font-size: var(--font-size);
  line-height: var(--font-size);
}

.form-control {
  font-size: 20px;
  height: var(--input-size);
  line-height: var(--input-size);

  border-bottom: 2px solid var(--main-color);
}

.form-error {
  height: 20px;
  font-size: 15px;
}